/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

* {
    font-family: 'Raleway';
}
body {
    margin: 0;
    padding: 0;
    color: #454545;
}

a {
    transition: all .2s ease-in-out;
    
}

/*a:hover {*/
/*    background: skyblue;*/
/*    color: white;*/
/*}*/

footer {
    margin-top: 50px;
    background: #454545;
    color: white;
}

.display-4 {
    font-family: 'Oleo Script';
}

.btn {
    border-radius: 0;
    border: 0;
}

.btn-info {
    background: lightskyblue;
}

.btn-primary {
    background: skyblue;
}

.btn-danger {
    background: salmon;
}

.jumbotron {
    background: salmon;
}

.card {
    margin: 10px;
    padding: 10px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.card-btns {
    border: 0;
}

.navbar {
    background: salmon;
    position: fixed;
    width: 100%;
    z-index: 100;
}

.navbar-brand:hover, 
.nav-link:hover {
    background: #444;
    color: salmon !important;
}