<div class="jumbotron jumbotron-fluid text-center">
    <div class="container">
        <h1 class="display-4">Phone Shop</h1>
        <p class="lead">Interact with phones using CRUD operations!</p>
    </div>
</div>